@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.markdown-body {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.markdown-body p + p {
  margin-top: 0.75rem;
}

.markdown-body pre {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;
}

.prose pre {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-x: auto !important;
}

.prose code {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

